:root {
    --bs-body-font-family: "Open Sans", sans-serif;
    --bs-body-font-weight: 400;
    --bs-heading-color: inherit;
}

:root[data-bs-theme=light] {
    --bs-body-color: #212529;
    --bs-box-shadow: 0 0.5rem 1rem #00000026;
    --bs-dark: #212529;
    --bs-emphasis-color: #212529;
    --bs-light: #f8f9fa;
    --bs-link-color-rgb: 96, 141, 253;
    --bs-link-color: #5CA9FB;
    --bs-primary: #5CA9FB;
    --gradient: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    --bs-secondary: #6c757d;
}


:root[data-bs-theme=dark] {
    --bs-body-color: #dee2e6;
    --bs-box-shadow: 0 0.5rem 1rem #00000026;
    --bs-dark: #212529;
    --bs-emphasis-color: #f8f9fa;
    --bs-light: #f8f9fa;
    --bs-link-color-rgb: 96, 141, 253;
    --bs-link-color: #5ca9fb;
    --bs-primary: #5ca9fb;
    --gradient: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    --bs-secondary: #6c757d;
}